<nav class="navbar navbar-expand-lg">
  <div class="container-fluid card card-header" style="width: 70rem; padding: 10px;">
    <div class="d-flex justify-content-between align-items-center card-title">
      <a class="navbar-brand">Oceanic Data Explorer</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Ocean Conditions">Ocean Conditions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/Endangerd SpeciesConservation Projects">Endangerd SpeciesConservation Projects</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
